$forecast-graph-width: 960px;

.forecast-graphs-parent {
  position: relative;
  background: $white;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  margin-bottom: 12px;
  padding: 12px;
  box-shadow: $shadow-subtle;
}

.forecast-graph-container {
  position: relative;
  width: $forecast-graph-width;
  white-space: nowrap;
  vertical-align: top;

  @include breakpoint(large) {
    width: 100%;
  }

  .forecast-graph {
    position: relative;
    display: block;
    width: $forecast-graph-width;
    height: 225px;

    @include breakpoint(large) {
      width: 100%;
    }

    text {
      font-family: $primary-font;
    }

    .graph {
      .line {
        stroke-width: 2;
      }
      .line.wind-speed {
        stroke-width: 1;
      }
      .point {
        &.dot {
          stroke-width: 1.5;
        }
        &.arrow {
          stroke-width: 1.5;
        }
      }
    }

    .selected-date-time {
      transform: translateX(-0.5px);
      width: 0.6px;

      @include breakpoint(medium) {
        width: 0.9px;
      }
    }

    .axis-left {
      path.domain {
        display: none;
      }
      g.tick {
        line {
          stroke-width: 1;
          stroke: $gainsboro;
        }

        text {
          font-size: rem-calc(11);
          text-anchor: start;
          font-weight: $font-weight-medium;

          &.label-1 {
            transform: translate(5px, -8px);
          }
          &.label-2 {
            transform: translate(5px, 10px);
          }
        }

        &:first-of-type {
          text {
            display: none;
          }

          line {
            stroke: $font-dark-secondary;
          }
        }
        &:last-of-type {
          text {
            display: none;
          }
        }

        path {
          stroke-width: 0.5;
        }
      }
    }

    .axis-bottom {
      path {
        stroke: $iron;
        stroke-width: 1;
      }

      .tick text {
        font: $primary-font;
        fill: $jumbo;
        text-anchor: middle;
        text-transform: uppercase;
        font-size: rem-calc(14);
        font-weight: $font-weight-normal;
        transform: translateY(4px);
      }

      .tick line {
        stroke: $iron;
        transform: translateY(0.5px);
        stroke-width: 1;
      }

      .tick.long {
        stroke: red;
      }
    }

    .day-segment {
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      cursor: pointer;
    }
  }
}

.legend-key {
  span {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    margin-right: 6px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
  }
}

.forecast-graph-container.forecast-graph-combined {
  height: 170px;
  margin-bottom: 30px;

  @include breakpoint(medium) {
    height: 200px;
  }
}

.forecast-graph-container.forecast-graph-tide {
  height: 60px;

  @include breakpoint(medium) {
    height: 45px;
    margin-bottom: 12px;
  }
}