$forecast-graph-width: 960px;

.forecast-graph-card {
  background: $white;
  padding: 12px;
  margin-bottom: 12px;
  box-shadow: $shadow-subtle;
}

.forecast-graphs-parent {
  position: relative;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

.forecast-graph-container {
  position: relative;
  width: $forecast-graph-width;
  white-space: nowrap;
  vertical-align: top;

  @include breakpoint(large) {
    width: 100%;
  }

  &.forecast-graph-combined {
    .forecast-graph {
      height: 225px;
    }
  }

  .forecast-graph {
    position: relative;
    display: block;
    width: $forecast-graph-width;

    @include breakpoint(large) {
      width: 100%;
    }

    text {
      font-family: $primary-font;
    }

    .graph {
      .line {
        stroke-width: 2;
      }
      .line.wind-speed {
        stroke-width: 1;
      }
      .point {
        &.dot {
          stroke-width: 1.5;
        }
        &.arrow {
          stroke-width: 1.5;
        }
      }
    }

    .selected-date-time {
      transform: translateX(-0.5px);
      width: 0.6px;

      @include breakpoint(medium) {
        width: 0.9px;
      }
    }

    .axis-left {
      path.domain {
        display: none;
      }

      g.tick {
        line {
          stroke-width: 1;
          stroke: $smoke;
        }

        &:last-child {
          display: none;
        }

        text {
          font-size: rem-calc(11);
          text-anchor: start;
          font-weight: $font-weight-medium;

          &.label-1 {
            transform: translate(5px, -8px);
          }
          &.label-2 {
            transform: translate(5px, 10px);
          }
        }

        &:first-of-type {
          text {
            display: none;
          }

          line {
            stroke: $font-dark-secondary;
          }
        }
        &:last-of-type {
          text {
            display: none;
          }
        }

        path {
          stroke-width: 0.5;
        }
      }
    }

    .axis-bottom {
      path {
        stroke: $iron;
        stroke-width: 1;
      }

      .tick text {
        font: $primary-font;
        fill: $jumbo;
        text-anchor: middle;
        text-transform: uppercase;
        font-size: rem-calc(14);
        font-weight: $font-weight-normal;
        transform: translateY(4px);
      }

      .tick line {
        stroke: $iron;
        transform: translateY(0.5px);
        stroke-width: 1;
      }

      .tick.long {
        stroke: red;
      }
    }

    .day-segment {
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      cursor: pointer;
    }
  }
}

.legend-key {
  span {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    margin-right: 6px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
  }
}

.forecast-graph-container.forecast-graph-combined {
  height: 170px;
  margin-bottom: 30px;

  @include breakpoint(medium) {
    height: 200px;
  }
}

.forecast-graph-container.forecast-graph-tide {
  height: 45px;
  margin-bottom: 12px;
}

.tide-sun-values {
  display: flex;
  flex-wrap: nowrap;
  width: $forecast-graph-width;
  // overflow: hidden; // Need to crop due to graph crop issue
  text-align: center;
  font-size: rem-calc(11);
  letter-spacing: -0.2px;

  strong {
    font-weight: $font-weight-medium;
  }

  @include breakpoint(large) {
    width: 100%;
  }

  .day-block {
    flex: 1 1 auto;
    min-width: 197px;
    padding: 0 38px;

    @include breakpoint(large) {
      min-width: 20.5%;
      padding: 0 48px;
    }

    &.--weather {
      border-top: 1px dotted $gainsboro;
      margin-top: 8px;
      padding-top: 8px;
    }

    &.--sun {
      margin-top: 8px;
      padding-top: 8px;
      border-top: 1px dotted $gainsboro;
    }
  }

  .icon {}

  .temp-max {
    font-size: rem-calc(12);
  }

  .temp-min {
    color: $iron;
  }

  .has-tip {
    border-bottom: none;
    font-weight: inherit;
  }

  .tooltip.right {
    padding: 8px;
    max-width: 90px;
    right: -100px;
  }
}