<!-- TODO: Figure out a nice way to handle notices -->
<% if notice && !notice.empty? %>
  <p id="notice"><%= notice %></p>
<% end %>

<% if (!@spot.current_swell || !@spot.current_wind) %>
  <h2><%= @spot.name %></h2>
  <p>No forecast data available for this spot.</p>
  <p>Please run a <code>rails forecasts:update</code> then refresh.</p>
<% else %>
  <% if user_signed_in? %>
    <div class="text-center background__secondary">
      <%= link_to 'EDIT', edit_spot_path(@spot), class: 'btn --secondary' %> <br>
      <%= link_to 'CLONE', clone_spot_path(@spot), class: 'btn --secondary' %> <br>
    </div>
  <% end %>
<% end %>
