// Note: use sparingly. See http://a11yproject.com/posts/never-remove-css-outlines/
@mixin no-outline {
  outline: none;
  // box-shadow: none; // Maybe required?
}

@mixin hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  visibility: visible;
  white-space: nowrap;
}

@mixin focus-outline($type: 'border') {
  @if ($type == 'border') {
    outline: 1px solid $info-color;
  }

  @if ($type == 'blurred') {
    box-shadow: 0 0 0 3px $info-color;
    outline: 1px solid transparent;
  }
}