<div id="overall-potential" class="potential-radial"
     data-percentage="<%= rating %>"
     data-radius="50"
     data-track-width="12"
     data-track-colour="#E0E0E0"
     data-fill-colour="<%= get_verdict_colour(rating) %>"
     data-stroke-colour="#FFFFFF"
     data-stroke-spacing="0">
</div>
