<div class="time-slider">
  <div class="time-slider__input">
    <input type="range" min="6" max="18" step="1">
  </div>
  <div class="time-slider__value --icon-chevron-down--iron">
    <span class="time">12:30<!--<span class="am-pm">PM</span>--></span>
    <p class="date">Friday 7</p>
  </div>
</div>
