<div class="container">
  <div class="grid-x">
    <h3>Users</h3>
    <div class="cell">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
