.expand-collapse-card {
  background: $white;
  padding: 12px;
  margin-bottom: 12px;
  box-shadow: $shadow-subtle;

  &.--collapsed {
    max-height: 40px;
    overflow: hidden;
  }

  &.--collapseable .card-title {
    display: block;
    cursor: pointer;
  }

  &.--not-collapseable h5 {
    display: inline-block;
  }

  .expand-collapse-card__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    small {
      margin-bottom: auto;
    }
  }
}