.auth-page {
  height: 100%;
  background: $primary-color;

  header, footer { border: none; }

  header {
    margin-top: 110px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  h1 {
    color: $white;
    font-weight: $font-weight-bold;
    font-size: rem-calc(20);
  }
}

.auth-container {
  @include callout;
  max-width: 430px;
  background: $white;
  border-radius: 8px;
  box-shadow: $shadow-subtle;
  text-align: center;
  margin: 0 18px;

  @include breakpoint(medium) {
    margin: 0 auto 20px;
  }

  h3 {
    color: $primary-color;
    margin: 20px 0 20px;
    font-weight: $font-weight-normal;
    font-size: rem-calc(22);
  }

  .btn {
    width: 100%;
  }

  a {
    color: $font-dark-secondary;
  }
}