.marketing-page {
  h1 {
    color: $font-dark-primary;
    font-weight: $font-weight-bold;

    @include breakpoint(large) {
      padding-right: 5rem;
    }
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
    color: $primary-color;
  }

  .callout.large {
    padding: 3rem 0 3rem 0;
  }

  .hero-image-container {
    @include breakpoint(medium) {
      position: absolute;
      right: 0;
    }
  }

  .hero-image {
    @include breakpoint(medium) {
      position: absolute;
      right: 33px;
      z-index: 0;
      max-width: 50%;
      height: auto;
      max-height: 240px;
    }
  }

  .join {
    background: $primary-color;

    p, h3 { color: $white; }

    .button.--secondary { color: $primary-color; }
  }
}

#mc_embed_signup {
  .email {

  }
  .button {

  }
}