@mixin animate-slide-up {
  animation-name: slideUp;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}
	100% {
		transform: translateY(0%);
	}
}


.marketing-page {
  .main {
    max-width: none;
  }

  .marketing-page__container .grid-x > .cell {
    max-width: $global-width;
    // margin: 0 auto;
  }
}

.marketing-page__container {
  h1 {
    font-size: rem-calc(28);
    color: $font-dark-primary;
    font-weight: $font-weight-bold;
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
    color: $primary-color;
  }

  .callout.large {
    padding: 3rem 0 3rem 0;
  }

  .callout.large.callout--hero {
    padding-bottom: 0;
    overflow: hidden;

    .grid-x {
      justify-content: center;
    }
  }

  .hero-image-container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;

    height: 260px;
    min-width: 255px;

    @include breakpoint(medium) {
      align-self: flex-end;
    }

    @include breakpoint(large) {
      height: 320px;
      width: 320px;
    }
  }

  .hero-image {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 100%;
  }

  .hero-image span {
    @include animate-slide-up;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero-image--back {
    flex: 1 1 40%;
    height: 85%;
    z-index: 1;
  }

  .hero-image--back span {
    position: absolute;
    // left: 35%;
    width: 125%;
    animation-delay: 100ms;
  }

  .hero-image--front {
    flex: 1 1 60%;
    z-index: 2;
  }

  .hero-image--front span {
    animation-delay: 200ms;
  }

  .cvp-container {
    .cell {
      padding-right: 24px;
    }

    h3 {
      font-size: 20px;
    }
  }

  .join {
    background: $primary-color;
    background-image: radial-gradient(ellipse at top right, #5CA8DC 2%, #2F6FB6 100%);

    p, h2 { color: $white; }

    .button.--secondary { color: $primary-color; }
  }

  .on-the-web {
    .icon {
      width: 46px;
      height: 46px;
    }
  }
}

#mc_embed_signup {
  .email {
  }
  .button {
  }
}