.input-holder {
  background-color: $white;
  border-style: none;
  border-radius: 4px;
  box-shadow: $shadow-subtle;
  height: 38px;
  padding: 0 12px;
  margin-bottom: 12px;
  vertical-align: middle;
  width: auto;
  position: relative;

  &.--clickable {
    @include clickable;
  }

  &.--icon {
    padding-left: 30px;
    &:before {
      content: '';
      height: 20px;
      width: 20px;
      display: block;
      position: absolute;
      background-size: contain;
      top: 9px;
      left: 12px;
    }
  }
}

select {
  cursor: pointer;
  border: none;
  background-color: $white;
  vertical-align: middle;
  outline: none;
  height: 38px;

  &:focus {
    outline: none;
    background-color: $white;
    border: none;
    box-shadow: none;
  }
}

input[type="text"] {
  border-style: none;
  box-shadow: none;
  background: $white;
  height: 38px;

  &:focus {
    background: $white;
    outline: none;
    border: none;
    box-shadow: none;
  }

  &::placeholder {
    color: $font-dark-tertiary;
  }
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fafafa;
	border: 1px solid $iron;
	padding: 10px;
	border-radius: 4px;
	display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin: 6px 6px 6px 0;

  &:checked {
    background-color: $secondary-color;
    color: $white;
    border: 1px solid $secondary-color;

    &:after {
      content: '';
      position: absolute;
      height: 16px;
      width: 16px;
      top: 2px;
      left: 2px;
      color: $white;
      background-image: url('images/icons/check--white.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  
  &:focus,
  &:hover,
  &:active, {
    outline: none;
  }
}