.forecast-graphs-parent {
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

.forecast-graph-container {
  position: relative;
  width: 100%;
  padding-bottom: 275px; /* aspect ratio */
  white-space: nowrap;
  vertical-align: top;

  .forecast-graph {
    display: inline;
    position: absolute;
    width: 960px;
    height: 275px;
    top: 6px;
    left: 0;
    background: $ocean-mist;

    .graph {
      .line {
        stroke-width: 1;
      }
      .point {
        &.dot {
          stroke-width: 1;
        }
        &.arrow {
          stroke-width: 0.8;
        }
      }
    }
    

    .axis-right {
      path.domain {
        display: none;
      }
      .tick line {
        stroke-width: 0.3;
        &:not(:first-of-type) {
          stroke: "#DDDDDD";
          stroke-dasharray: "2,2";
        }
      }

      .tick text {
        font-size: 6px;
        text-anchor: end;
        transform: translate(19px, -4px);
      }

      path {
        stroke-width: 0.5;
      }
    }

    .axis-bottom {
      path {
        stroke-width: 0.5;
      }

      .tick text {
        text-anchor: start;
        font-size: 6px;
        transform: translateY(-5px);
      }

      .tick line {
        stroke-width: 0.5;
      }
    }

    @media #{$medium-up} {
      .graph {
        .line {
          stroke-width: 2;
        }
        .point {
          &.dot {
            stroke-width: 2;
          }
          &.arrow {
            stroke-width: 1.6;
          }
        }
      }

      .axis-right {
        .tick line {
          stroke-width: 1;
        }

        .tick text {
          font-size: 14px;
          transform: translate(15px, -10px);
        }
      }

      .axis-bottom {
        .tick line {
          stroke-width: 1;
        }

        .tick text {
          font-size: 14px;
          transform: translateY(0);
        }
      }
    }
  }
}

.legend-key {
  span {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    margin-right: 6px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
  }
}