// TODO: set-up an npm build task to build these..

.icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  transition: $natural-transition;
  background-repeat: no-repeat;
  background-size: contain;

  &.--small {
    height: 12px;
    width: 12px;
  }

  &.--large {
    height: 18px;
    width: 18px;
  }

  // TODO: should not be needed once all icons use the <Icon /> component (this component doesn't use pseudo elements)
  &:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-size: contain;
  }
}

// ALL of the icons.
// Delete these once all icons in the site use <Icon />

.--icon-chevron-up--white:before {
  background-image: url('images/icons/chevron-up--white.svg');
}

.--icon-search--dark-secondary:before {
  background-image: url('images/icons/search--dark-secondary.svg');
}

.--icon-bar-chart-2--dark-secondary:before {
  background-image: url('images/icons/bar-chart-2--dark-secondary.svg');
}

.--icon-align-right--dark-secondary:before {
  background-image: url('images/icons/align-right--dark-secondary.svg');
}

.--icon-chevron-down--white:before {
  background-image: url('images/icons/chevron-down--white.svg');
}

.--icon-share-2--white:before {
  background-image: url('images/icons/share-2--white.svg');
}

.--icon-mail:before {
  background-image: url('images/icons/mail.svg');
}

.--icon-twitter--white:before {
  background-image: url('images/icons/twitter--white.svg');
}

.--icon-facebook--white:before {
  background-image: url('images/icons/facebook--white.svg');
}

.--icon-message-circle--white:before {
  background-image: url('images/icons/message-circle--white.svg');
}

.--icon-slack--white:before {
  background-image: url('images/icons/slack--white.svg');
}

.--icon-copy--blue:before {
  background-image: url('images/icons/copy--blue.svg');
}

.--icon-alert-triangle--white:before {
  background-image: url('images/icons/alert-triangle--white.svg');
}

.--icon-calendar--blue:before {
  background-image: url('images/icons/calendar--blue.svg');
}

.--icon-activity:before {
  background-image: url('images/icons/activity.svg');
}

.--icon-trending-up:before {
  background-image: url('images/icons/trending-up.svg');
}

.--icon-award:before {
  background-image: url('images/icons/award.svg');
}

.--icon-map:before {
  background-image: url('images/icons/map.svg');
}

.--icon-map-pin--dark-secondary:before {
  background-image: url('images/icons/map-pin--dark-secondary.svg');
}

.--icon-share:before {
  background-image: url('images/icons/share.svg');
}

.--icon-more-vertical:before {
  background-image: url('images/icons/more-vertical.svg');
}

.--icon-navigation-2:before {
  background-image: url('images/icons/navigation-2.svg');
}

.--icon-user--white:before {
  background-image: url('images/icons/user--white.svg');
}

.--icon-chevron-down--dark-secondary:before {
  background-image: url('images/icons/chevron-down--dark-secondary.svg');
}
