// Place all the styles related to the Spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
  border: none;
  background: transparent;
}

/** Spot banner **/

.spot-banner {
  position: relative;
  overflow: hidden;
}

.spot-banner__content {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: $white;

  .spot-banner__rating {
    display: inline-block;
    vertical-align: top;
    padding: 6px 12px;
    padding-left: 0;
    margin-right: 12px;
    max-width: 66px;

    @media #{$medium-up} {
      width: 75px;
      height: 75px;
      line-height: 85px;
    }

    .rating {
      width: 100%;
    }

    .rating-label {
      font-size: rem-calc(10);
      text-transform: uppercase;
      color: $font-dark-secondary;
      display: block;
      line-height: 14px;
      margin-top: 4px;
      text-align: center;
      width: 100%;
    }
  }

  .spot-banner__details {
    display: inline-block;
    position: relative;
    vertical-align: top;

    @media #{$small-only} {
      max-width: 280px;
    }
  }

  p,
  span,
  a {
    color: $font-dark-secondary;
    font-weight: lighter;
    opacity: 0.90;
  }

  a {
    text-decoration: none;
    &:hover { color: $font-dark-primary; }
  }

  h1 {
    line-height: 1.2;
    font-weight: $font-weight-black;
    margin-bottom: 0;
    margin-top: 0;
  }
}
