
.spots-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .spinner { margin: 0 auto; }
}

.spot-tile {
  @media #{$medium-up} {
    flex: 1 1 33%;
    max-width: 33%;
  }
}

.spot-tile a {
  @include clickable;
  display: flex;
  width: 100%;
  margin: 6px auto;
  padding: 12px;
  flex-wrap: wrap;
  background: $white;
  color: $font-dark-primary;
  border-radius: 1px;

  @media #{$medium-up} {
    width: auto;
    margin: 6px;
  }

  &:hover { text-decoration: none; }
}

.spot-tile__rating {
  flex: 1 1 auto;
  width: 12%;
}

.spot-tile__name {
  flex: 1 1 auto;
  width: 69%;

  h3,
  p {
    @include clip-text-one-line;
  }

  h3 {
    font-size: rem-calc(21);
    margin: 0;
    font-weight: $font-weight-medium;
    line-height: rem-calc(26);
  }
  p {
    font-size: rem-calc(14);
    margin: 0;
    color: $font-dark-tertiary;
    line-height: rem-calc(15);
  }
}

.spot-tile__updated {
  flex: 1 1 auto;
  max-width: 19%;
  text-align: right;
  font-size: rem-calc(11);
  line-height: rem-calc(11);
}

.spot-tile__conditions {
  flex: 1 1 auto;
  margin: 0 auto;
  display: flex;
  width: 100%;
  margin-left: 15%;
}
.spot-tile__condition {
  flex: 1 1 33.33%;
  padding: rem-calc(8);
  padding-left: 0;

  &.--highlighted {
    color: $secondary-color;
  }
}
.spot-tile__condition-primary {
  display: block;
  font-size: 110%;
  font-weight: $font-weight-medium;

  &-unit {
    font-size: 80%;
  }
}
.spot-tile__condition-secondary {
  display: block;
  color: $font-dark-secondary;
  font-size: 80%;
  line-height: 120%;
}