// TODO: prefix all these variables with "colour-"

// Primary palette
$primary-color: #0D659D;
$secondary-color: #2278F1;

$ocean-mist: #EDF1F4;

// Utility
$positive: #27AE60;
$mixed: #F2994A;
$negative: #CCCCCC;

$alert-color: #EB5757;
$fail-color: #EB5757;
$success-color: #9ACD32;
$warning-color: #F2994A;
$info-color: #a0d3e8;

// Text

$font-dark-primary: #292e31;
$font-dark-secondary: #6f7c82;
$font-dark-tertiary: #BDBDBD;
$font-light-primary: #FFFFFF;
$font-light-secondary: #F6F6F6;

// Neutrals
// TODO: remove unused

$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #BDBDBD;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #828282;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;