.app-container {
  //
}

.header nav,
.main {
  max-width: $global-width;
  margin: 0 auto;
}

.main {
  @include no-outline;
  padding-bottom: 32px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.display-inline {
  display: inline-block;
}