// $primary-font set in _settings.scss

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 700;

h1 {
  color: $font-dark-primary;

  @include breakpoint(medium) {
    font-size: rem-calc(32);
  }
}

h2 {
  font-weight: $font-weight-bold;

  &.--small {
    font-weight: $font-weight-medium;
    font-size: rem-calc(24);
    text-transform: uppercase;
  }
}

h5 {
  font-size: rem-calc(16);
  line-height: 1;
  color: $font-dark-secondary;
}

p,
ul {
  color: $font-dark-primary;
}

.small {
  font-size: 80%;
}