// $primary-font set in _settings.scss

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 700;

h1 {
  color: $font-dark-primary;

  @include breakpoint(medium) {
    font-size: rem-calc(32);
  }
}

h2 {
  color: $font-dark-primary;
  font-weight: $font-weight-bold;

  &.--small {
    font-weight: $font-weight-medium;
    font-size: rem-calc(24);
    text-transform: uppercase;
  }
}

h3 {
  font-size: rem-calc(22);
  font-weight: $font-weight-medium;
  color: $font-dark-secondary;
}

h5 {
  font-size: rem-calc(16);
  line-height: 1;
  color: $font-dark-secondary;
  font-weight: 500;
}

p,
ul {
  color: $font-dark-primary;
}

.small {
  font-size: 80%;
}

a,
.link {
  color: $secondary-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $secondary-color;
  }

  &.disabled {
    color: $font-dark-tertiary;
    cursor: not-allowed;
  }

  i {
    // Vertical center icon children
    margin-bottom: rem-calc(-2.5);
    margin-right: rem-calc(5);
  }
}

// A link-looking button
.link {
  display: inline-block;
  height: 44px; // Same as .btn
  line-height: 44px; // Same as .btn
  padding: 0 12px;
}