.optimum-vis {
  margin-bottom: 20px;

  &__meta {
    width: 15%;
    display: inline-block;
    height: 60px;
  }
  &__visual {
    width: 80%;
    display: inline-block;
    position: relative;
    height: 60px;
    margin-bottom: -18px;

    .data-vis {
      width: 100%;
      height: 25px;

      &__bg,
      &__current,
      &__ROC {
        position: absolute;
        top: 15px;
      }

      &__bg {
        left: 0;
        width: 100%;
        height: 8px;
        background: #fff;
        border-radius: 8px;
        margin-top: -5px;
      }

      &__current {
        position: absolute;
        line-height: 30px;
        top: 0;
        text-align: center;
        color: #fff;
        font-size: 12px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #6FCF97;
        margin-left: -15px;
        margin-top: -2px;
      }

      &__ROC {
        position: absolute;
        top: 10px;
        background-color: #ccc;
        height: 8px;
        border-radius: 8px;
      }
    }
  }

  &__min {
    float: left;
  }
  &__max {
    float: right;
  }

  &.--outside {
    input[type=range]::-webkit-slider-thumb {
      display: none;
    }
    .optimum-vis__current {
      display: none;
    }
  }
}
