.spot-sub-rating-group {
  &__item {
    position: relative;
    color: #000;
    padding-left: 27px;
    margin-left: 5px;
    &::before {
      height: 20px;
      width: 20px;
      content: " ";
      position: absolute;
      background-size: cover;
      top: -1px;
      left: 1px;
    }
    &.--swell {
      &.--positive::before {
        background-image: url('http://www.iconsdb.com/icons/preview/lime/circle-xxl.png');
      }
      &.--mixed::before {
        background-image: url('http://www.iconsdb.com/icons/preview/orange/circle-xxl.png');
      }
      &.--negative::before {
        background-image: url('http://www.iconsdb.com/icons/preview/red/circle-xxl.png');
      }
    }
    &.--wind {
      &.--positive::before {
        background-image: url('http://www.iconsdb.com/icons/preview/lime/circle-xxl.png');
      }
      &.--mixed::before {
        background-image: url('http://www.iconsdb.com/icons/preview/orange/circle-xxl.png');
      }
      &.--negative::before {
        background-image: url('http://www.iconsdb.com/icons/preview/red/circle-xxl.png');
      }
    }
    &.--tide {
      &.--positive::before {
        background-image: url('http://www.iconsdb.com/icons/preview/lime/circle-xxl.png');
      }
      &.--mixed::before {
        background-image: url('http://www.iconsdb.com/icons/preview/orange/circle-xxl.png');
      }
      &.--negative::before {
        background-image: url('http://www.iconsdb.com/icons/preview/red/circle-xxl.png');
      }
    }
  }
}
