.spot-tile {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 15px;

  &__image {
    background-size: cover;
    width: 100%;
    padding-bottom: 60%;
    border-radius: 5px 5px 0 0;
  }

  &__summary {
    padding: 10px 10px 10px 10px;
    position: relative;

    h3 {
      display: inline-block;
      margin: 0 10px 0 0;
      font-size: 1.2rem;
    }

    .spot-sub-rating-group {
      display: inline-block;
      position: absolute;
      line-height: 40px;
      top: 50%;
      right: 16px;
      height: 40px;
      margin-top: -20px;
    }
  }
}
