.spot-list-item {
  background-color: #fff;
  border-radius: 0px;
  border-top: 1px solid #606060;
  padding: 16px;
  position: relative;

  &__main-rating {
    margin: 0px;
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: #fff;
    text-align: center;

    &.--positive {
      background-color: #6FCF97;
    }
    &.--mixed {
      background-color: #F2C94C;
    }
    &.--negative {
      background-color: #EB5757;
    }

    span {
      font-size: 20px;
      line-height: 40px;
    }
  }

  &__name {
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    margin: 0 6px 0 10px;
  }

  .spot-sub-rating-group {
    display: inline-block;
    position: absolute;
    line-height: 40px;
    top: 50%;
    right: 16px;
    height: 40px;
    margin-top: -20px;
  }
}
