.btn {
  display: inline-block;
  background: $secondary-color;
  border-radius: 5px;
  padding: 0 12px;
  color: $white;
  text-align: center;
  position: relative;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin: 12px 12px 12px 0;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-weight: 600;
  -webkit-box-shadow: $shadow-subtle;
  -moz-box-shadow: $shadow-subtle;
  box-shadow: $shadow-subtle;
  -webkit-transition: box-shadow 250ms, background-color 250ms, transform 250ms;
  transition: box-shadow 250ms, background-color 250ms, transform 250ms;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  vertical-align: middle;

  &:hover,
  &:visited,
  &:focus {
    color: $white;
  }

  &:hover {
    transform: translateY(-1px);
    -webkit-box-shadow: $shadow-raised;
    -moz-box-shadow: $shadow-raised;
    box-shadow: $shadow-raised;
    background-color: lighten($secondary-color, 3%);
  }

  &:active {
    transform: translateY(1px);
  }

  &.--secondary {
    background: $white;
    color: $secondary-color;
    border-top: 1px solid $smoke;

    &:hover {
      color: lighten($secondary-color, 10%);
    }
    text-shadow: none;
  }

  &.--icon {
    padding-left: 40px;

    &::before {
      content: '';
      height: 20px;
      width: 20px;
      display: block;
      position: absolute;
      background-size: contain;
      top: 10px;
      left: 12px;
    }
  }

  &.--circle {
    width: 40px;
    border-radius: 100%;

    &.--icon {
      padding: 0;

      &::before {
        left: 10px;
      }
    }
  }
}

.link {
  color: $secondary-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $secondary-color;
  }
}
