.forecast-graph-container {
  position: relative;
  width: 100%;
  padding-bottom: 60%; /* aspect ratio */
  white-space: nowrap;
  vertical-align: top;
  overflow-y: hidden;
	overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  .forecast-graph {
    display: inline;
    position: absolute;
    width: 800px;
    top: 6px;
    left: 0;
    background: $ocean-mist;
  }
}

.scrollwrapper {
	width: 320px; /* arbitary for demo only */
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  
  .internal {
    display: inline;
  }
}