.--icon-alert-triangle--white::before {
  background-image: image-url('icons/alert-triangle--white.svg');
}

.--icon-activity::before {
  background-image: image-url('icons/activity.svg');
}

.--icon-trending-up::before {
  background-image: image-url('icons/trending-up.svg');
}

.--icon-award::before {
  background-image: image-url('icons/award.svg');
}

.--icon-map::before {
  background-image: image-url('icons/map.svg');
}

.--icon-share::before {
  background-image: image-url('icons/share.svg');
}

.--icon-more-vertical::before {
  background-image: image-url('icons/more-vertical.svg');
}

.--icon-navigation-2::before {
  background-image: image-url('icons/navigation-2.svg');
}

.--icon-user--white::before {
  background-image: image-url('icons/user--white.svg');
}
