.--icon-chevron-up--white::before {
  background-image: image-url('icons/chevron-up--white.svg');
}

.--icon-chevron-down--white::before {
  background-image: image-url('icons/chevron-down--white.svg');
}

.--icon-share-2--white::before {
  background-image: image-url('icons/share-2--white.svg');
}

.--icon-twitter--white::before {
  background-image: image-url('icons/twitter--white.svg');
}

.--icon-facebook--white::before {
  background-image: image-url('icons/facebook--white.svg');
}

.--icon-message-circle--white::before {
  background-image: image-url('icons/message-circle--white.svg');
}

.--icon-slack--white::before {
  background-image: image-url('icons/slack--white.svg');
}

.--icon-copy--blue::before {
  background-image: image-url('icons/copy--blue.svg');
}

.--icon-alert-triangle--white::before {
  background-image: image-url('icons/alert-triangle--white.svg');
}

.--icon-calendar--blue::before {
  background-image: image-url('icons/calendar--blue.svg');
}

.--icon-activity::before {
  background-image: image-url('icons/activity.svg');
}

.--icon-trending-up::before {
  background-image: image-url('icons/trending-up.svg');
}

.--icon-award::before {
  background-image: image-url('icons/award.svg');
}

.--icon-map::before {
  background-image: image-url('icons/map.svg');
}

.--icon-share::before {
  background-image: image-url('icons/share.svg');
}

.--icon-more-vertical::before {
  background-image: image-url('icons/more-vertical.svg');
}

.--icon-navigation-2::before {
  background-image: image-url('icons/navigation-2.svg');
}

.--icon-user--white::before {
  background-image: image-url('icons/user--white.svg');
}

.--icon-chevron-down--iron::before {
  background-image: image-url('icons/chevron-down--iron.svg');
}
