.rating {
  height: 28px;
  width: 36px;
  background: $success-color;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: $white;
  font-size: rem-calc(16);
  letter-spacing: -0.8px;
  text-align: center;
  font-weight: $font-weight-medium;

  &:after {
    content: '/10';
    font-size: 0.9rem;
    align-self: flex-end;
    opacity: 0.7;
    padding-left: 1px;
  }

  &.--large {
    height: 32px;
    width: 42px;
    font-size: 1.5em;
  }

  &.--small {
    height: 22px;
    width: 26px;

    &:after {
      display: none;
    }
  }
}