.share-menu {
  background: $white;
  z-index: 99;
  border-radius: 3px;
  box-shadow: $shadow-raised;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 120px;
  width: 320px;
  margin-left: -160px;
  margin-top: -60px;
  text-align: center;

  &__header {
    background: $iron;
    height: 25px;
    width: 100%;
    text-transform: uppercase;
    line-height: 25px;

    a {
      float: right;
      margin-right: 6px;
      color: $black;
    }
  }

  &__body {
    p {
      margin: 6px auto;
    }

    .btn {
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }
}
