.spot-tile {
  border-radius: 3px;
  margin-bottom: 15px;

  &__image {
    position: relative;
    background-size: cover;
    width: 100%;
    padding-bottom: 60%;
    border-radius: 3px 3px 0 0;
  }

  &__datetime {
    height: 22px;
    position: absolute;
    right: 0;

    &.--full {
      top: 15px;
    }

    &.--collapsed {
      top: 7px;
    }

    &::before {
      background-color: darken($base, 15%);
      content: "";
      display: block;
      height: 30px;
      width: 15px;
      position: absolute;
      right: 8.6px;
      bottom: -1.2px;
      margin-bottom: -20px;
      transform: rotate(45deg);
    }

    p {
      position: relative;
      z-index: 2;
      color: #fff;
      margin: 0;
      font-size: 12px;
      padding: 2px 5px;
      background: $base;
      -webkit-box-shadow: $shadow-subtle;
      -moz-box-shadow: $shadow-subtle;
      box-shadow: $shadow-subtle;
    }
  }

  &__main-rating {
    position: absolute;
    width: 50px;
    height: 100%;
    color: #fff;
    border-radius: 0 0 0 3px;
    top: 0;
    left: 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__summary {
    background-color: #fff;
    padding: 10px 16px 10px 64px;
    position: relative;
    height: 85px;
    color: $oil;

    .spot-tile__name-region {
      h3 {
        display: inline-block;
        font-size: 18px;
        line-height: 26px;
        margin: 0 6px 2px 0;
        white-space: nowrap;
      }

      span {
        display: inline-block;
        color: $steel;
      }
    }

    .spot-sub-rating-group {
      flex: 0 1 75%;

      .indicator {
        margin-left: -12px;
      }

      ul {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        margin: 0;
      }

      ul li {
        display: inline;
        list-style-type: none;
        padding: 0px 12px;
        color: $aluminum;
        font-size: 0.75em;
        min-width: 85px;
      }

      &__label {
        text-transform: uppercase;
      }

      &__primary-datapoint {
        display: block;
        font-weight: $font-weight-medium;
      }
    }

    .spot-plan-summary {
      display: block;
      margin-left: -5px;
    }
  }

  // These are pretty global
  // TODO - maybe migrate into a global component?
  .--positive {
    background-color: $positive;
  }
  .--mixed {
    background-color: $mixed;
  }
  .--negative {
    background-color: $negative;
  }
}

// TODO move me into a sep component
.indicator {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  position: relative;
  display: inline-block;

  &.--positive {
    background-color: $positive;
  }
  &.--mixed {
    background-color: $mixed;
  }
  &.--negative {
    background-color: $negative;
  }

  &.--mini {
    height: 8px;
    width: 8px;
    top: -1px;
  }
}