.spot-plan-summary {
  &__item {
    display: inline-block;
    position: relative;
    color: #fff;
    margin-left: 3px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;

    &.--positive {
      background-color: #27AE60;
    }
    &.--mixed {
      background-color: #f1c04b;
    }
    &.--negative {
      background-color: #EB5757;
    }
  }
}
