$spot-tile-height: 320px;

a.spot-tile,
.spot-tile {
  @include clickable;
  display: flex;
  max-width: $spot-tile-height;
  width: $spot-tile-height;
  background: $white;
  color: $oil;
  padding: 12px;
  margin: 6px auto;
  flex-wrap: wrap;

  @media #{$medium-up} {
    margin: 6px;
  }
}

.spot-tile__rating {
  flex: 1 1 auto;
  width: 16%;
}

.spot-tile__name {
  flex: 1 1 auto;
  width: 65%;

  h3,
  p {
    @include clip-text-one-line;
  }

  h3 {
    font-size: rem-calc(21);
    margin: 0;
    font-weight: $font-weight-medium;
    line-height: rem-calc(26);
  }
  p {
    font-size: rem-calc(14);
    margin: 0;
    color: $iron;
    line-height: rem-calc(15);
  }
}

.spot-tile__updated {
  flex: 1 1 auto;
  max-width: 19%;
  text-align: right;
  font-size: rem-calc(11);
  line-height: rem-calc(11);
}

.spot-tile__conditions {
  flex: 1 1 auto;
  margin: 0 auto;
  display: flex;
  width: 100%;
  margin-left: 15%;
}
.spot-tile__condition {
  flex: 1 1 33.33%;
  padding: rem-calc(8);
  padding-left: 0;

  &.--highlighted {
    color: $secondary-color;
  }
}
.spot-tile__condition-primary {
  display: block;
  font-size: 110%;
  font-weight: $font-weight-medium;

  &-unit {
    font-size: 80%;
  }
}
.spot-tile__condition-secondary {
  display: block;
  color: $jumbo;
  font-size: 80%;
  line-height: 120%;
}

.spots-list {
  width: $spot-tile-height;

  @media #{$medium-up} {
    width: 694px;
  }

  @media #{$large-up} {
    width: 1026px;
  }
}