.spot-tile {
  border-radius: 3px;
  margin-bottom: 15px;

  &__image {
    position: relative;
    background-size: cover;
    width: 100%;
    padding-bottom: 60%;
    border-radius: 3px 3px 0 0;
  }

  &__datetime {
    height: 22px;
    position: absolute;
    right: 0;

    &.--full {
      top: 15px;
    }

    &.--collapsed {
      top: 7px;
    }

    &::before {
      background-color: darken(#6FCF97, 15%);
      content: "";
      display: block;
      height: 30px;
      width: 15px;
      position: absolute;
      right: 8.6px;
      bottom: -1.2px;
      margin-bottom: -20px;
      transform: rotate(45deg);
    }

    p {
      position: relative;
      z-index: 2;
      color: #fff;
      margin: 0;
      font-size: 12px;
      padding: 2px 5px;
      background: #6FCF97;
      -webkit-box-shadow: -3px 3px 10px -0px rgba(0,0,0,0.1);
      -moz-box-shadow: -3px 3px 10px -0px rgba(0,0,0,0.1);
      box-shadow: -3px 3px 10px -0px rgba(0,0,0,0.1);
    }
  }

  &__main-rating {
    position: absolute;
    width: 50px;
    height: 100%;
    color: #fff;
    border-radius: 0 0 0 3px;
    top: 0;
    left: 0;
    font-size: 20px;
    line-height: 70px;
    text-align: center;

    &.--positive {
      background-color: #27AE60;
    }
    &.--mixed {
      background-color: #f1c04b;
    }
    &.--negative {
      background-color: #EB5757;
    }
  }

  &__summary {
    background-color: #fff;
    padding: 10px 16px 10px 64px;
    position: relative;
    height: 70px;

    h3 {
      display: inline-block;
      font-size: 18px;
      line-height: 26px;
      margin: 0 6px 2px 0;
    }

    .spot-sub-rating-group,
    .spot-plan-summary {
      display: block;
      margin-left: -5px;
    }
  }
}
