// Place all the styles related to the Spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
  border: none;
  background: transparent;
}

/** Spot banner **/

.spot-banner {
  position: relative;
  overflow: hidden;
  background-color: $primary-color;

  &.--positive {
    .spot-banner__content {
      .spot-banner__rating span  {
        color: $positive;
      }
    }
  }
  &.--mixed {
    .spot-banner__content {
      .spot-banner__rating span  {
        color: $mixed;
      }
    }
  }
  &.--negative {
    .spot-banner__content {
      .spot-banner__rating span {
        color: $negative;
      }
    }
  }
}

.spot-banner__content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 12px 0;

  .spot-banner__rating {
    display: inline-block;
    vertical-align: middle;
    height: 60px;
    width: 120px;
    border-radius: 60px;
    background-color: #fefefe;
    line-height: 62px;
    margin-right: 12px;
    text-align: right;
    margin-left: -57px;
    -webkit-box-shadow: $shadow-subtle;
    -moz-box-shadow: $shadow-subtle;
    box-shadow: $shadow-subtle;

    span {
      font-size: rem-calc(40);
      font-weight: 500;
      margin-right: 0px;
    }

    .percent {
      font-size: rem-calc(18);
      margin-right: 8px;
      margin-left: -5px;
    }

    @media #{$medium-up} {
      width: 70px;
      height: 70px;
      margin-left: auto;
      line-height: 72px;
      .percent {
        margin-right: 5px;
      }
    }
  }

  .spot-banner__details {
    display: inline-block;
    vertical-align: middle;
  }

  h2 {
    color: #fefefe;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
  }

  p,
  span,
  a {
    color: #fefefe;
    font-weight: lighter;
  }

  a {
    text-decoration: underline;
  }
}
