.time-slider {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $white;
  height: 60px;
  border-top: 1px solid $iron;
  z-index: 999;

  &__value {
    display: inline-block;
    position: relative;
    padding: 12px;
    width: 106px;
    height: 60px;
    color: $black;
    vertical-align: middle;
    border-left: 1px solid $iron;

    &::before {
      content: '';
      height: 20px;
      width: 20px;
      background-size: contain;
      position:absolute;
      right: 10px;
      top: 50%;
      margin-top: -10px;
    }

    .time {
      display: block;
      position: absolute;
      font-size: rem-calc(20);
      line-height: rem-calc(19);
      font-weight: normal;
      text-transform: uppercase;
      color: $secondary-color;
      z-index: 2;
      pointer-events: none;

      .sub {
        font-size: rem-calc(12);
      }
    }
  }

  &__date-select {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: $font-dark-primary;
    height: 60px;
    line-height: 65px;
    background-color: $white;
    z-index: 1;
    padding-left: 12px;
    border: none;

    &:focus,
    &:hover, {
      background-color: $white;
      outline: none;
    }

    &.--expanded {
      display: block;
    }
  }

  &__time-input {
    display: inline-block;
    width: -webkit-calc(100% - 130px);
    width: -moz-calc(100% - 130px);
    width: calc(100% - 130px);
    margin: 0 12px;
    padding-top: 15px;
    vertical-align: middle;
    height: 60px;
    position: relative;

    @media #{$medium-up} {
      width: -webkit-calc(100% - 154px);
      width: -moz-calc(100% - 154px);
      width: calc(100% - 154px);
      margin: 0 24px;
    }

    .input {
      z-index: 2;
    }

    .time-slider-graph-container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      pointer-events: none;
    }

    



    // ===================================================
    // RANGE INPUT STYLES
    // ===================================================

    // OVERRIDE DEFAULT STYLES
    input[type=range] {
      -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
      width: 100%; /* Specific width is required for Firefox. */
      background: transparent; /* Otherwise white in Chrome */
    }

    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
    }

    input[type=range]:focus {
      outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
    }

    input[type=range]::-ms-track {
      width: 100%;
      cursor: pointer;

      /* Hides the slider so custom styles can be added */
      background: transparent;
      border-color: transparent;
      color: transparent;
    }

    // STYLE THUMB
    /* Special styling for WebKit/Blink */
    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: none;
      height: 18px;
      width: 18px;
      border-radius: 18px;
      background: $secondary-color;
      cursor: pointer;
      margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
      box-shadow: $shadow-subtle; /* Add cool effects to your sliders! */
      opacity: 1;
    }

    /* All the same stuff for Firefox */
    input[type=range]::-moz-range-thumb {
      box-shadow: $shadow-subtle;
      border: none;
      height: 18px;
      width: 18px;
      border-radius: 18px;
      background: $secondary-color;
      cursor: pointer;
      opacity: 1;
    }

    /* All the same stuff for IE */
    input[type=range]::-ms-thumb {
      box-shadow: $shadow-subtle;
      border: none;
      height: 18px;
      width: 18px;
      border-radius: 18px;
      background: $secondary-color;
      cursor: pointer;
      opacity: 1;
    }

    // STYLE TRACK
    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      background: rgba(245, 245, 245, 0.6);
      border-radius: 2px;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
      background: rgba(245, 245, 245, 0.6);
    }

    input[type=range]::-moz-range-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      background: rgba(245, 245, 245, 0.6);
      border-radius: 2px;
    }

    input[type=range]::-ms-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      border-width: 16px 0;
      color: transparent;
    }
    input[type=range]::-ms-fill-lower {
      background: rgba(245, 245, 245, 0.6);
      border-radius: 2.6px;
    }
    input[type=range]:focus::-ms-fill-lower {
      background: rgba(245, 245, 245, 0.6);
    }
    input[type=range]::-ms-fill-upper {
      background: rgba(245, 245, 245, 0.6);
      border-radius: 2.6px;
    }
    input[type=range]:focus::-ms-fill-upper {
      background: rgba(245, 245, 245, 0.6);
    }
  }
}
