.time-slider {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $white;
  height: 60px;
  border-top: 1px solid $iron;
  z-index: 999;

  &__graph {
    position: absolute;
    top: 0;
    left: 14px;
    opacity: 0.18;
    z-index: 1;
    pointer-events: none;
  }

  &__value {
    display: inline-block;
    padding: 12px;
    width: 100px;
    height: 60px;
    color: $black;
    vertical-align: middle;
    border-left: 1px solid $iron;

    &::before {
      content: '';
      height: 20px;
      width: 20px;
      background-size: contain;
      position:absolute;
      right: 10px;
      top: 50%;
      margin-top: -10px;
    }

    .time {
      font-size: rem-calc(20);
      line-height: rem-calc(19);
      font-weight: normal;
      text-transform: uppercase;
      color: $secondary-color;
    }

    .am-pm {
      font-size: rem-calc(12);
    }

    .date {
      font-size: rem-calc(12);
      line-height: rem-calc(11);
      font-weight: lighter;
      text-transform: uppercase;
    }
  }

  &__input {
    display: inline-block;
    width: -webkit-calc(100% - 105px);
    width: -moz-calc(100% - 105px);
    width: calc(100% - 105px);
    padding: 12px;
    vertical-align: middle;
    height: 60px;
    margin-bottom: -6px;
    position: relative;

    @media #{$medium-up} {
      padding: 12px 24px;
    }

    .input {
      z-index: 2;
    }

    // OVERRIDE DEFAULT STYLES
    input[type=range] {
      -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
      width: 100%; /* Specific width is required for Firefox. */
      background: transparent; /* Otherwise white in Chrome */
    }

    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
    }

    input[type=range]:focus {
      outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
    }

    input[type=range]::-ms-track {
      width: 100%;
      cursor: pointer;

      /* Hides the slider so custom styles can be added */
      background: transparent;
      border-color: transparent;
      color: transparent;
    }

    // STYLE THUMB
    /* Special styling for WebKit/Blink */
    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: none;
      height: 18px;
      width: 18px;
      border-radius: 18px;
      background: $secondary-color;
      cursor: pointer;
      margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
      box-shadow: $shadow-subtle; /* Add cool effects to your sliders! */
    }

    /* All the same stuff for Firefox */
    input[type=range]::-moz-range-thumb {
      box-shadow: $shadow-subtle;
      border: none;
      height: 18px;
      width: 18px;
      border-radius: 18px;
      background: $secondary-color;
      cursor: pointer;
    }

    /* All the same stuff for IE */
    input[type=range]::-ms-thumb {
      box-shadow: $shadow-subtle;
      border: none;
      height: 18px;
      width: 18px;
      border-radius: 18px;
      background: $secondary-color;
      cursor: pointer;
    }

    // STYLE TRACK
    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      box-shadow: $shadow-subtle;
      background: $iron;
      border-radius: 2px;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
      background: $iron;
    }

    input[type=range]::-moz-range-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      box-shadow: $shadow-subtle;
      background: $iron;
      border-radius: 2px;
    }

    input[type=range]::-ms-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      border-width: 16px 0;
      color: transparent;
    }
    input[type=range]::-ms-fill-lower {
      background: $iron;
      border-radius: 2.6px;
      box-shadow: $shadow-subtle;
    }
    input[type=range]:focus::-ms-fill-lower {
      background: $iron;
    }
    input[type=range]::-ms-fill-upper {
      background: $iron;
      border-radius: 2.6px;
      box-shadow: $shadow-subtle;
    }
    input[type=range]:focus::-ms-fill-upper {
      background: $iron;
    }
  }
}
