<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'POSEIDON', root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right" >
      <%= render 'layouts/nav_links_for_auth' %>
    </ul>

    <ul class="left">
      <li><%= link_to 'About', page_path('about') %></li>
    </ul>
  </section>
</nav>
